{% extends "base.html" %}
{% load static %}

{% block title %}Ajout d'un Profil{% endblock %}
{% block bodyId %}addProfilePage{% endblock %}

{% block content %}
<header class="welcome-header">
    <div class="user-info">
        Bienvenue sur IpefaSup, {{ logged_user.first_name }} {{ logged_user.last_name }}
    </div>
    <div class="date-time">
        Nous sommes le {{ current_date_time }}
    </div>
</header>

<h1>Création d'un compte</h1>

<form>
    <p>
        <label for="profileType">Vous êtes :</label>
        <select id="profileType" name="profileType">
            <option value="Etudiant" {% if addStudentForm.is_bound %}selected{% endif %}>Étudiant</option>
            <option value="Professeur" {% if addTeacherForm.is_bound %}selected{% endif %}>Professeur</option>
            <option value="Educateur" {% if addEducatorForm.is_bound %}selected{% endif %}>Éducateur</option>
            <option value="Administrator" {% if addAdministratorForm.is_bound %}selected{% endif %}>Administrateur</option>
        </select>
    </p>
</form>

<form action="{% url 'welcome_administrator/add_profile' %}" method="post" id="formEtudiant" style="display: none;">
    {% csrf_token %}
    {{ addStudentForm.as_p }}
    <input type="hidden" name="profileType" value="Etudiant">
    <input type="submit" value="Créer un compte">
</form>

<form action="{% url 'welcome_administrator/add_profile' %}" method="post" id="formProfesseur" style="display: none;">
    {% csrf_token %}
    {{ addTeacherForm.as_p }}
    <input type="hidden" name="profileType" value="Professeur">
    <input type="submit" value="Créer un compte">
</form>

<form action="{% url 'welcome_administrator/add_profile' %}" method="post" id="formEducateur" style="display: none;">
    {% csrf_token %}
    {{ addEducatorForm.as_p }}
    <input type="hidden" name="profileType" value="Educateur">
    <input type="submit" value="Créer un compte">
</form>

<form action="{% url 'welcome_administrator/add_profile' %}" method="post" id="formAdministrateur" style="display: none;">
    {% csrf_token %}
    {{ addAdministratorForm.as_p }}
    <input type="hidden" name="profileType" value="Administrator">
    <input type="submit" value="Créer un compte">
</form>

<script type="text/javascript">
    function displayRightForm() {
        const profileType = $('#profileType').val();

        // Cacher tous les formulaires
        $('#formEtudiant, #formProfesseur, #formEducateur, #formAdministrateur').hide();

        // Afficher le bon formulaire
        switch (profileType) {
            case 'Etudiant':
                $('#formEtudiant').show();
                break;
            case 'Professeur':
                $('#formProfesseur').show();
                break;
            case 'Educateur':
                $('#formEducateur').show();
                break;
            case 'Administrator':
                $('#formAdministrateur').show();
                break;
            default:
                $('#formEtudiant').show();  // Affiche par défaut le formulaire étudiant
        }
    }

    $(document).ready(function() {
        displayRightForm(); // Affiche le bon formulaire au chargement
        $('#profileType').on('change', displayRightForm); // Lors de la sélection
    });
</script>

{% endblock %}
