{% extends "base.html" %}
{% load static %}

{% block title %}Ajout d'un Profil{% endblock %}
{% block bodyId %}addProfilePage{% endblock %}

{% block content %}
<header class="welcome-header">
    <div class="user-info">
        Bienvenue sur IpefaSup, {{ logged_user.first_name }} {{ logged_user.last_name }}
    </div>
    <div class="date-time">
        Nous sommes le {{ current_date_time }}
    </div>
</header>

<h1>Ajouter un profil</h1>

<!-- Sélecteur de type -->
<form id="typeSelectorForm">
    <label for="form_type">Choisir le type de compte :</label>
    <select name="form_type" id="form_type" required>
        <option value="student" {% if form_type == 'student' %}selected{% endif %}>Étudiant</option>
        <option value="teacher" {% if form_type == 'teacher' %}selected{% endif %}>Enseignant</option>
        <option value="administrator" {% if form_type == 'administrator' %}selected{% endif %}>Administrateur</option>
        <option value="educator" {% if form_type == 'educator' %}selected{% endif %}>Éducateur</option>
    </select>
</form>

<hr>

<!-- Zone d’injection du formulaire -->
<div id="formContainer">
    {% include 'partials/formulaire_profil.html' %}
</div>

{% endblock %}

{% block extra_js %}
<script>
    function loadForm(formType) {
        $.ajax({
            url: "{% url 'add_profile' %}",  // URL de la vue
            data: {
                form_type: formType
            },
            success: function(data) {
                // Mettre à jour le contenu avec le formulaire chargé via AJAX
                $('#formContainer').html(data.html_form);
            },
            error: function(xhr, status, error) {
                console.error("Erreur AJAX : " + status + " " + error);
            }
        });
    }

     $(document).ready(function() {
        $('#form_type').on('change', function() {
            let selectedType = $(this).val();
            console.log("Form type selected: " + selectedType);  // Vérifie si l'événement est bien déclenché
            loadForm(selectedType);  // Charger le bon formulaire
        });
    });
</script>
{% endblock %}