{% extends "base.html" %}
{% load static %}

{% block title %}Connexion{% endblock %}

{% block bodyId %}loginPage{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

<form action="{% url 'login.etudiant' %}" method="post">
  {% csrf_token %}
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  
  <p>
      <label for="email">E-mail :</label>
      <input name="email" id="email" size="30" type="email" required>
  </p>
  
  <p>
      <label for="password">Mot de passe :</label>
      <input type="submit" id="submit-btn" value="Se connecter" disabled />
  </p>
</form>

<!-- Script de validation pour étudiant -->
<script>
    const emailInput = document.getElementById("email");
    const errorSpan = document.getElementById("email-error");
    const submitBtn = document.getElementById("submit-btn");

    emailInput.addEventListener("input", function () {
        const email = emailInput.value;
        const regex = /^[a-zA-Z]+\.[a-zA-Z]+@student\.efpl\.be$/;

        if (email === "") {
            errorSpan.textContent = "";
            submitBtn.disabled = true;
        } else if (!regex.test(email)) {
            errorSpan.textContent = "L'adresse email doit être au format prénom.nom@student.efpl.be";
            submitBtn.disabled = true;
        } else {
            errorSpan.textContent = "";
            submitBtn.disabled = false;
        }
    });
</script>
{% endblock %}