{% extends "base.html" %}
{% load static %}

{% block title %}Création d'un compte{% endblock %}

{% block bodyId %}userProfilePage{% endblock %}

{% block content %}
    <h1>Création d'un compte</h1>

    <form>
        <p>
            <label for="profileType">Vous êtes :  </label>
            <select id="profileType">
                <option value="etudiant" {% if studentForm.is_bound %}
                    selected="selected" {% endif %}>Etudiant</option>
                <option value="professeur" {% if teacherForm.is_bound %}
                    selected="selected" {% endif %}>Professeur</option>
                <option value="educateur" {% if educatorForm.is_bound %}
                    selected="selected" {% endif %}>Educateur</option>
                <option value="administrateur" {% if administratorForm.is_bound %}
                    selected="selected" {% endif %}>Administrateur</option>
            </select>
        </p>
    </form>

    <form action="{% url 'register' %}" method="post" id="studentForm" style="display: none">
        {% csrf_token %}
        {{ studentForm.as_p }}
        <p>
            <input type="hidden" name="profileType" value="etudiant">
            <input type="submit" value="Créer un compte">
        </p>
    </form>

    <form action="{% url 'register' %}" method="post" id="teacherForm" style="display: none">
        {% csrf_token %}
        {{ studentForm.as_p }}
        <p>
            <input type="hidden" name="profileType" value="professeur">
            <input type="submit" value="Créer un compte">
        </p>
    </form>
    <form action="{% url 'register' %}" method="post" id="educatorForm" style="display: none">
        {% csrf_token %}
        {{ studentForm.as_p }}
        <p>
            <input type="hidden" name="profileType" value="educateur">
            <input type="submit" value="Créer un compte">
        </p>
    </form>
    <form action="{% url 'register' %}" method="post" id="administratorForm" style="display: none">
        {% csrf_token %}
        {{ studentForm.as_p }}
        <p>
            <input type="hidden" name="profileType" value="administrateur">
            <input type="submit" value="Créer un compte">
        </p>
    </form>

    <script type="text/javascript">
    function displayRightForm() {
        var profileType = $('#profileType').val();

        if (profileType === 'etudiant') {
            $('#studentForm').show();
            $('#teacherForm').hide();
            $('#educatorForm').hide();
            $('#administratorForm').hide();
        } else if (profileType === 'professeur') {
            $('#studentForm').hide();
            $('#teacherForm').show();
            $('#educatorForm').hide();
            $('#administratorForm').hide();
        } else if (profileType === 'educateur') {
            $('#studentForm').hide();
            $('#teacherForm').hide();
            $('#educatorForm').show();
            $('#administratorForm').hide();
        } else {
            $('#studentForm').hide();
            $('#teacherForm').hide();
            $('#educatorForm').hide();
            $('#administratorForm').show();
        }
    }
     $(document).ready(function() {
        // Initialize form based on selected profile type
        displayRightForm();
        // Call displayRightForm whenever the profile type changes
        $('#profileType').change(displayRightForm);
    });
</script>

{% endblock %}
